*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 73, 207);
}

.supercontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(15, 27, 66, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.container{
    /* border: 2px solid white; */
    /* height: 150px;
    width: 450px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-left:24px ;
}

.circle{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(11, 55, 168);
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.margin{
    margin: 0px 20px;
}

.ap{
    margin-bottom: 100px;
    color: rgb(11, 55, 168);
    font-weight: bolder;

}

#timezone{
    color: rgb(11, 55, 168);
    font-weight: bolder;
    margin-bottom: 20px;
}


#date{
    color: rgb(11, 55, 168);
    font-weight: bolder;
    margin-top: 20px;
    font-size: 20px;
}

@media(max-width:482px){
    .supercontainer{
        padding: 18px 60px;

    }
    .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left:0px ;
    }
    .margin{
        margin: 20px 0px;
    }

    .ap{
        margin-bottom: 0px;
        margin-top: 10px;
        color: rgb(11, 55, 168);
    
    }
}